<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <application android:theme="@style/Theme.OTPBridge" android:label="@string/app_name" android:allowBackup="false" android:supportsRtl="true">
        <activity android:name=".sms.SmsConsentActivity" android:exported="false" android:theme="@style/Theme.OTPBridge" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name=".autofill.OtpAutofillService" android:label="OTP Bridge" android:permission="android.permission.BIND_AUTOFILL_SERVICE" android:exported="true">
            <intent-filter><action android:name="android.service.autofill.AutofillService" /></intent-filter>
            <meta-data android:name="android.autofill" android:resource="@xml/otp_autofill_service" />
        </service>
        <receiver android:name=".sms.SmsConsentReceiver" android:exported="false" />
        <receiver android:name=".sms.SmsOtpReceiver" android:exported="true" android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
